<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="static/styles.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <title>Books: {% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand pl-0 mr-2 mb-0 h1"  href="/">Books</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      {% set active_page = active_page|default('index') -%}

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-2">
          <li class="nav-item"><a class="nav-link{% if active_page =='index' %} active{% endif
    %}" href="/">Featured</a></li>
          <li class="nav-item"><a class="nav-link{% if active_page =='list' %} active{% endif
    %}" href="list.html">List</a></li>
        </ul>

        {% if session.user_id and not active_page == 'search' %}
        <form class="form-inline my-0 mr-auto" action="/search" method="get">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        {% endif %}
        
        <ul class="navbar-nav ml-auto">
            {% if session.user_id %}
                <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link{% if active_page =='register' %} active{% endif %}" href="/register">Register</a></li>
                <li class="nav-item"><a class="nav-link{% if active_page =='login' %} active{% endif %}" href="/login">Log In</a></li>
            {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container pt-4">
        {% block main %}{% endblock %}
    </div>  
  </body>
  </html>
